<img src='{{movie.image}}' alt='' height="200" width="200">
<h4>{{movie.title}}</h4>
<h4>Director: {{movie.director}}</h4>
<h5>Star</h5>

<ul>
  {{#each movie.stars}}
  <li>{{this}}</li>
  {{/each}}
</ul>
<div>
  <p>{{movie.description}}</p>
  <ul>
    {{#each movie.showtimes}}
    <li>{{this}}</li>
    {{/each}}
  </ul>
</div>